<%= form_tag(@url, method: @method) do |f| %>
  <table id='channel_schedule_version_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Channel ID</td><td><%= text_field_tag "channel_id", @record["channel_id"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Active Day</td><td><%= text_field_tag "active_day", @record["active_day"], size: "50", maxlength: "254", class: 'datepicker' %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
