<h2>Edit Schedule Program Episode</h2>

<p id="notice"><%= notice %></p>

<% if ! @record.nil? %> 
  <%= render 'form' %>

  <p/>
  <p/>
  <%= link_to 'Show', action: 'show', id: @record["id"] %>
<% end %>
